USE [master]
GO
/****** Object:  Database [FOR_PATIENTS]    Script Date: 05.10.2022 20:02:08 ******/
CREATE DATABASE [FOR_PATIENTS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FOR_PATIENTS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FOR_PATIENTS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FOR_PATIENTS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FOR_PATIENTS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FOR_PATIENTS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FOR_PATIENTS]
GO
/****** Object:  User [TEST2]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [TEST2] FOR LOGIN [TEST2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Test1]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [Test1] FOR LOGIN [Test1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Novogodnii]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [Novogodnii] FOR LOGIN [Novogodnii] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Mihalkov]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [Mihalkov] FOR LOGIN [Mihalkov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Loktionov]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [Loktionov] FOR LOGIN [Loktionov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Larionov]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [Larionov] FOR LOGIN [Larionov] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Koloncha]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [Koloncha] FOR LOGIN [Koloncha] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DOCTOR]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [DOCTOR] FOR LOGIN [DOCTOR] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [asdas]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [asdas] FOR LOGIN [asdas] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Aibolitnaya]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [Aibolitnaya] FOR LOGIN [Aibolitnaya] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ADMIN_PAC]    Script Date: 05.10.2022 20:02:08 ******/
CREATE USER [ADMIN_PAC] FOR LOGIN [ADMIN_PAC] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [PATIENT]    Script Date: 05.10.2022 20:02:08 ******/
CREATE ROLE [PATIENT]
GO
/****** Object:  DatabaseRole [DOCTORS]    Script Date: 05.10.2022 20:02:08 ******/
CREATE ROLE [DOCTORS]
GO
ALTER ROLE [PATIENT] ADD MEMBER [TEST2]
GO
ALTER ROLE [PATIENT] ADD MEMBER [Test1]
GO
ALTER ROLE [DOCTORS] ADD MEMBER [Novogodnii]
GO
ALTER ROLE [DOCTORS] ADD MEMBER [Mihalkov]
GO
ALTER ROLE [PATIENT] ADD MEMBER [Loktionov]
GO
ALTER ROLE [DOCTORS] ADD MEMBER [Larionov]
GO
ALTER ROLE [DOCTORS] ADD MEMBER [Koloncha]
GO
ALTER ROLE [PATIENT] ADD MEMBER [asdas]
GO
ALTER ROLE [DOCTORS] ADD MEMBER [Aibolitnaya]
GO
/****** Object:  Table [dbo].[APPEALS]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPEALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PATIENTS] [int] NOT NULL,
	[DATE_APPEAL] [date] NULL,
	[ID_STATUS_APPEAL] [int] NOT NULL,
	[ID_SPEC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENEFITS]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENEFITS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BENEFIT_NAME] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_DOCTORS]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_DOCTORS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_CATEGORY] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTORS]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTORS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOCTOR_SURNAME] [varchar](50) NOT NULL,
	[DOCTOR_NAME] [varchar](50) NOT NULL,
	[DOCTOR_MIDDLE_NAME] [varchar](50) NULL,
	[DATE_OF_BIRTH] [date] NOT NULL,
	[DATE_START_WORK] [date] NOT NULL,
	[ID_QUALIFICATION] [int] NOT NULL,
	[ID_CATEGORY] [int] NOT NULL,
	[LOGIN_DOC] [varchar](20) NULL,
	[ID_SPEC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAL_SERVICE]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAL_SERVICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_SERVICE] [varchar](50) NOT NULL,
	[ID_SPEC] [int] NOT NULL,
	[cost] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT_CATEGORY]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT_CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENT_SEX]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENT_SEX](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_SEX] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENTS]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_SURNAME] [varchar](50) NOT NULL,
	[PATIENT_NAME] [varchar](50) NOT NULL,
	[PATIENT_MIDDLE_NAME] [varchar](50) NOT NULL,
	[DATE_OF_BIRTH] [date] NOT NULL,
	[ID_BENEFITS] [int] NOT NULL,
	[ID_CATEGORY] [int] NOT NULL,
	[ID_PATIENT_SEX] [int] NOT NULL,
	[LOGIN_PATIENT] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUALIFICATION_DOCTORS]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUALIFICATION_DOCTORS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QUALIFICATION_NAME] [varchar](50) NOT NULL,
	[COEFICIENT] [numeric](2, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPECIALIZATION]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIALIZATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SPECIALIZATION_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_APPEALS]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_APPEALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPEAL_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUMMARY_SHEET]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUMMARY_SHEET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PATIENT] [int] NOT NULL,
	[ID_APPEAL] [int] NOT NULL,
	[SUM_TREATMENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENT]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_APPEAL] [int] NOT NULL,
	[ID_DOCTOR] [int] NOT NULL,
	[ID_MED_SERVICE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPEALS]  WITH CHECK ADD FOREIGN KEY([ID_SPEC])
REFERENCES [dbo].[SPECIALIZATION] ([ID])
GO
ALTER TABLE [dbo].[APPEALS]  WITH CHECK ADD FOREIGN KEY([ID_PATIENTS])
REFERENCES [dbo].[PATIENTS] ([ID])
GO
ALTER TABLE [dbo].[APPEALS]  WITH CHECK ADD FOREIGN KEY([ID_STATUS_APPEAL])
REFERENCES [dbo].[STATUS_APPEALS] ([ID])
GO
ALTER TABLE [dbo].[DOCTORS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[CATEGORY_DOCTORS] ([ID])
GO
ALTER TABLE [dbo].[DOCTORS]  WITH CHECK ADD FOREIGN KEY([ID_QUALIFICATION])
REFERENCES [dbo].[QUALIFICATION_DOCTORS] ([ID])
GO
ALTER TABLE [dbo].[MEDICAL_SERVICE]  WITH CHECK ADD FOREIGN KEY([ID_SPEC])
REFERENCES [dbo].[SPECIALIZATION] ([ID])
GO
ALTER TABLE [dbo].[PATIENTS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[PATIENT_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[PATIENTS]  WITH CHECK ADD FOREIGN KEY([ID_BENEFITS])
REFERENCES [dbo].[BENEFITS] ([ID])
GO
ALTER TABLE [dbo].[PATIENTS]  WITH CHECK ADD FOREIGN KEY([ID_PATIENT_SEX])
REFERENCES [dbo].[PATIENT_SEX] ([ID])
GO
ALTER TABLE [dbo].[SUMMARY_SHEET]  WITH CHECK ADD FOREIGN KEY([ID_APPEAL])
REFERENCES [dbo].[APPEALS] ([ID])
GO
ALTER TABLE [dbo].[SUMMARY_SHEET]  WITH CHECK ADD FOREIGN KEY([ID_PATIENT])
REFERENCES [dbo].[PATIENTS] ([ID])
GO
ALTER TABLE [dbo].[TREATMENT]  WITH CHECK ADD FOREIGN KEY([ID_DOCTOR])
REFERENCES [dbo].[DOCTORS] ([ID])
GO
ALTER TABLE [dbo].[TREATMENT]  WITH CHECK ADD FOREIGN KEY([ID_APPEAL])
REFERENCES [dbo].[APPEALS] ([ID])
GO
ALTER TABLE [dbo].[TREATMENT]  WITH CHECK ADD FOREIGN KEY([ID_MED_SERVICE])
REFERENCES [dbo].[MEDICAL_SERVICE] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[SET_SUM_SHEET]    Script Date: 05.10.2022 20:02:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SET_SUM_SHEET] (@id_appeal INT)
AS
SET NOCOUNT ON;

DECLARE @cost INT = 0;

DECLARE treatm CURSOR FOR
SELECT SUM(COST) FROM MEDICAL_SERVICE, TREATMENT WHERE ID_MED_SERVICE = MEDICAL_SERVICE.ID AND TREATMENT.ID_APPEAL = @id_appeal;
 
OPEN treatm;
FETCH NEXT FROM treatm INTO @cost;
 
WHILE @@FETCH_STATUS = 0
   BEGIN

	  INSERT INTO SUMMARY_SHEET (ID_PATIENT, ID_APPEAL, SUM_TREATMENT)
	  VALUES ((SELECT ID_PATIENTS FROM APPEALS WHERE ID = @id_appeal),@id_appeal, @cost);

	  UPDATE APPEALS SET ID_STATUS_APPEAL = 2 WHERE ID = @id_appeal;

	  FETCH NEXT FROM treatm INTO @cost;
   END;
 
CLOSE treatm;
DEALLOCATE treatm;
GO
USE [master]
GO
